extends layout

block content
  h1= title
  form(action="/new", method="post")
    input(type="text", name="messageUser")
    input(type="text", name="messageText")
    input(type="submit", value="Submit")